h1{
    color: blueviolet;
    font-family: fantasy;
}

p{
    color: rebeccapurple;
    font-family: sans-serif;
}

#menu-bar a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: aqua;
    padding: 5px;
}

#menu-bar a:hover{
    background-color: aquamarine;
    color: #ffffff;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: #990073;
}

th{
    font-weight: 900;
    background-color: #990073;
    color: #ffffff;
}